* {
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
}

h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

input {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.botao {
  display: inline-block;
  margin-top: 15px;
  padding: 16px 25px;
  background: #ff7a00;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.botao:hover {
  background: #e56b00;
}